---
import MainLayout from "src/layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import { buildNavigation, mapHeadings } from "src/utils/navigation";
import { type Languages } from "@utils/lang";
import { getReadingTimeText } from "@utils/remark-reading-time";
import { render } from "astro:content";

export async function getStaticPaths() {
  const entries = await getCollection("blog");
  const onlyPage = import.meta.env.ONLY_PAGE ?? process.env.ONLY_PAGE;
  return entries
    .filter((entry) => {
      if (!onlyPage) return true;
      return entry.slug === onlyPage;
    })
    .map((entry) => {
      const [lang, ...slug] = entry.slug.split("/");
      return {
        params: { lang: lang, slug: slug.join("/") },
        props: entry,
      };
    });
}

const { lang } = Astro.params;
const page = Astro.props;

const entries = await getCollection("blog");
const { sidebarItems, baseHref } = buildNavigation(entries, lang as Languages);
const { Content, headings, remarkPluginFrontmatter } = await render(page);
---

<MainLayout
  title={page.data.title}
  description={page.data.description}
  sidebarItems={sidebarItems}
  currentSlug={page.slug}
  headings={mapHeadings(headings)}
  baseHref={baseHref}
  lang={lang}
  showComments={page.data.allowDiscussion}
>
  <article>
    <div class="page-header">
      <h1>{page.data.title}</h1>
    </div>
    <div class="info-box">
      {
        page.data.date && (
          <p class="publish-date">
            {new Intl.DateTimeFormat(lang, {
              weekday: "long",
              day: "2-digit",
              month: "long",
              year: "numeric",
            }).format(page.data.date)}
          </p>
        )
      }
      {
        remarkPluginFrontmatter.readingTime > 1 ? (
          <p class="reading-time">
            {getReadingTimeText(lang, remarkPluginFrontmatter.readingTime)}
          </p>
        ) : null
      }
    </div>
    <Content />
  </article>
</MainLayout>
